@using Witty.Models
@model WittyEntryViewModel

<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            @Model.Question
        </div>
    </div>
    @{ 
        var groupedResponse = Model.ResponsesGroupedByCategory();

        foreach(var group in groupedResponse)
            {
                <div class="card mt-5">
                    <div class="card-header">
                        @group.Key
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (Response r in group)
                        {
                            <li class="list-group-item">@r.ResponseString</li>
                        }
                    </ul>
                </div>
            }
    }
</div>

