@model GetWittyEntryFormViewModel


<form asp-action="Get" method="post" role="form" class="container">
    <div class="row mb-3">
        <label asp-for="Question" class="form-label"></label>
        <input asp-for="Question" class="form-control col-12" />
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>